<!DOCTYPE html>
  <html lang="en">
    <header>
      <h1>TinyApp</h1>

      <% if (user) {%>
        <form method="POST" action="/logout">
          <p>
            <a href="/urls/new">Create new TinyURL</a> |
            <a href="/urls">See URLs</a>
          </p>
          <p>
            <%= user.email %>
            <button type="submit" class="btn btn-primary">Logout</button>
          </p>
        </form>

      <% } else { %>
        <a href="/login">Login</a> | <a href="/register">Register</a>
      <% } %>
    </header>
  </html>