<!DOCTYPE html>
  <html lang="en">
    <header>
      <h1>TinyApp</h1>

      <% if (user) {%>
        <form method="POST" action="/logout">
          <%= user.email %>
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>

      <% } else { %>
        <form method="POST" action="/login">
          <label for="email">
            Email
          </label>
          <input id="email" type="text" name="email">

          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      <% } %>
    </header>
  </html>